.book-form{
  display: flex;
  flex-direction: column;
}

.book-form-input{
  width: 20rem;
  font-size: $large;
  border: none;
  border-bottom: .3rem solid darken($lightBlue, 10%);

}

.book-form-title{
  font-size: $medium;
  text-align:right;

}

.book-form-container{
  border: 1px solid $lightBlue;
  margin: $medium 0;
 padding: 0 $medium;

}

@media(min-width: $desktop-bp){
  .book-form{
    display: flex;
    flex-direction: row;

  }

  .book-form-input{
    font-size: $large;
    border: none;
    border-bottom: .3rem solid darken($lightBlue, 10%);

  }

  .book-form-title{
    font-size: $medium;
    text-align:right;

  }

  .book-form-container{
    border: 1px solid $lightBlue;
    margin: $medium 0;
   padding: 0 $medium;

  }
}
