

.edit{
  display: block;
  color: darken($lightBlue, 20%);
  margin-top: $small;
}

.advance-button{
 background:linear-gradient(to bottom right, $lightBlue, black);
 color:white;
 border-radius: 5px;
 font-size: $medium;
 font-weight: 300;
 padding: $small;
 display: block;
  margin: $small auto;
    width: 30rem;
}

.display-tag-button{
  display:inline-block;
  margin-top: $small/2;
  margin-right: $small/2;
  color: darken($lightBlue, 20%);
  font-size:$small;
   font-weight: 300;
   // color: white;

}
@media (min-width: $desktop-bp){

  .edit{
    display: block;
    color: darken($lightBlue, 20%);
    margin-top: $small;
  }

  .display-tag-button{

    border-radius: 2px;
    font-size:$small;
     font-weight: 300;
     // color: white;
     display:inline-block;
     margin-top: $small/2;
     margin-right: $small/2;
     color: darken($lightBlue, 20%);
     // border:1px solid  darken($lightBlue, 20%);
     // border-radius: 2px;

  }
.advance-button{
 background:linear-gradient(to bottom right, $lightBlue, black);
 color:white;
 border-radius: 5px;
 font-size: $medium;
 padding: $small;
 width: 20rem;
 font-weight: 300;
 margin-right: 0;
 margin-top: $small;
}

}
