
.advance-button{
 background:linear-gradient(to bottom right, $lightBlue, black);
 color:white;
 border-radius: 5px;
 font-size: $medium;
 font-weight: 300;
 padding: $small;
 display: block;
  margin: $small auto;
    // margin-top: $small;
    width: 30rem;
}

.display-tag-button{
  margin-top: $small;
  background: $lightBlue;
  border-radius: 2px;
  font-size:$small;
   font-weight: 300;
   color: white;
   border:1px solid $lightBlue;
}
@media (min-width: $desktop-bp){

  .display-tag-button{
    background:$lightBlue;
    border-radius: 2px;
    font-size:$small;
     font-weight: 300;
     color: white;
     border:1px solid $lightBlue;
       margin-top: $small;
  }
.advance-button{
 background:linear-gradient(to bottom right, $lightBlue, black);
 color:white;
 border-radius: 5px;
 font-size: $medium;
 padding: $small;
 width: 20rem;
 font-weight: 300;
 margin-right: 0;
 margin-top: $small;
}

}
