.button-form{
  background: red;
  color: white;
  // width: 20rem;
  border: .3rem solid darken(red, 20%);
    // padding:$medium;
    margin-top: $small /5;
      width: 20rem;
}

.button-quick-form{
  background: $lightBlue;
  color: white;
  // width: 20rem;
  border: .3rem solid darken($lightBlue, 20%);
    float: right;
      width: 20rem;


}

.button-form{
  background: red;
  color: white;
  border: .3rem solid darken(red, 20%);
  margin-top: $small /5;
}


.note-form-button{
  background: $lightBlue;
  color: white;
  // width: 20rem;
  border: .3rem solid darken($lightBlue, 20%);
  float: right;

  width: 20rem;
}


.note-form-button:disabled{
  background: grey;
  color: white;
  width: 20rem;
  border: .3rem solid darken($lightBlue, 20%);
  float: right;
  cursor: auto;

}

.most-recent-note-button{
  background: $lightBlue;
  color: white;
  // width: 20rem;
  border: .3rem solid darken($lightBlue, 20%);
  float: right;

  width: 20rem;
}
