.number-list-item-container{
  padding-bottom: $medium;
}
.container{
   color: grey;
   max-width: 60rem;
   margin: 0 auto;
   padding: $medium;
}


.container-form{
 max-width: 60rem;
}

.container form{
  text-align:right;
}

.container-view-slug{
  text-align:right;
}

.book-container{
 padding: $small;
 width: 80%;
 margin: 0 auto;
}

.subcontainer-title{
  // color:red;
}

@media (min-width: $desktop-bp){

  .number-list-item-container{
    padding-bottom: $medium;
  }
  .book-container{
    // background: blue;
    padding: $small;
    border: 1px solid $lightBlue;
        margin-right: 0;

  }
    .container{
       max-width: 60rem;
       color: grey;
       margin: 0 auto;
       padding: $medium;
    }

    .container-form{
       text-align:right;
       max-width: 60rem;
       border: 1px solid grey;
       padding: $large;
    }

    .container p{
      font-size: $medium;
    }

   .subcontainer-title{
     // color:red;
   }
    .container-view-slug{
      text-align:right;
    }
}
