.container{
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $medium;
  background: white;
  // padding-top: $large;
  // padding-bottom: $large;
  // height: 50rem;
}




// @media (min-width: $desktop-bp){
//
//   .container{
//    max-width: 60rem;
//     margin: 0 auto;
//     padding: 0 $medium;
//     // background: $fuschia;
//   }
// }
