.container{
  max-width: 60rem;
  // margin: 0 auto;
  margin-left:auto;

  padding: 0 $medium;
  background: white;

}




// @media (min-width: $desktop-bp){
//
//   .container{
//    max-width: 60rem;
//     margin: 0 auto;
//     padding: 0 $medium;
//     // background: $fuschia;
//   }
// }
