
label{
  padding-right: $small;
}
.container-form input{
  width: 3rem;
}

.form-textArea{
   max-width: 40rem;
   width: 30rem;
   height: 50vh;
   border: 1px solid $lightBlue;
   padding-left: $small;
   display: block;
   margin: 0 auto;

}

.form-button{
  background: $lightBlue;
  color: white;
  font-size: $small;
  padding: $small;
  max-width: 40rem;
  width: 30rem;
  display: block;
   margin: 0 auto;
     margin-top: $small;
}

.form-button-check{
  background: white;
  color: $lightBlue;
  font-size: $large;
  padding: $small/2;
  border: none;
  border-bottom: 1px solid $lightBlue;
}

.form-error{
   color:red;
}

.form-button-book{
  background: $lightBlue;
  color: white;
  font-size: $small;
  padding: $small;
  width: 80%;
  // margin-right: 0;
    display: block;
  margin: 0 auto;
  margin-top: $large;
}

.form-button-check:hover{
  background: white;
  color:darken($lightBlue, 20%);
  font-size: $large;
  border: none;
  // padding: $small/2;
    border-bottom: 1px solid darken($lightBlue, 10%);
}
@media (min-width: $desktop-bp){

  .form-button-check{
    background: white;
    color: $lightBlue;
    font-size: $medium;
    border: none;
    // padding: $small/2;
      border-bottom: 1px solid $lightBlue;
  }

  .form-button-check:hover{
    background: white;
    color:darken($lightBlue, 10%);
    font-size: $medium;
    border: none;
    // padding: $small/2;
      border-bottom:1px solid $lightBlue;
  }
.form-textArea{
  display: block;
  margin-right: 0;
  max-width: 40rem;
  width: 40rem;
  height: 50vh;
  border: 1px solid $lightBlue;
  padding-left: $small;

}

.form-button{
  background: $lightBlue;
  color: white;
  font-size: $small;
  padding: $small;
  width: 10rem;
  margin-right: 0;
  margin-top: $small;

}

.form-button-book{
  background: $lightBlue;
  color: white;
  font-size: $small;
  padding: $small;
  width: 10rem;
  margin-right: 0;
  margin-top: $small;
}

.form-error{
   color:red;
}

}
