
.header{
  background: $lightBlue;
  color: white;
  max-width: 60rem;
  margin: 0 auto;
  padding-right: $small;
  text-align: right;


}


@media (min-width: $desktop-bp){
.header{
  background: $lightBlue;
  color: white;
  padding-right: $small;
  text-align: right;


}

}
