
.header{
  background:linear-gradient(to bottom right, $lightBlue, black);
  color:white;
  max-width: 60rem;
  margin: 0 auto;
  padding-right: $small;
  text-align: right;
}

.header h1{
  color: white;
}

.header p {
  color: white;
}
.header-nav{
  color: white;
}

.header-nav:visited{
  color: white;
  font-style: italic;
}

.header button {
   background: transparent;
   border: none;
   color: white;
}

@media (min-width: $desktop-bp){
.header{
  background:linear-gradient(to bottom right, $lightBlue, black);

  color:white;
  // background: black;
  // opacity: 0.5;
  color: white;
  padding-right: $small;
  text-align: right;


}

.header p {
    color: white;
    // font-weight: bold;
}
.header-nav{
  color: white;
}

.header button {
 background: transparent;
 border: none;
 color: white;
}


}
