.tag-input{
  width: 20rem;
}
.chapter-page-input{

}
.paragraph-input{
  width: 3rem;
  margin-right: $small;
}
.book-input{
  display: flex;
  flex-direction: column;
  padding: $small;
  margin-top: $small;
  margin: 0 auto;
  width: 80%;
  max-width: 60rem;
}

@media(min-width: $desktop-bp){

  .tag-input{
    width: 20rem;
  }
  .chapter-page-input{
    width: 3rem;

  }
  .paragraph-input{
    width: 3rem;
    margin-right: $small;
  }
  .book-input{
    display: flex;
    flex-direction: column;
    padding: $small;
    margin-top: $small;
    margin-right: 0;
    width: 80%;
  }


}
