.reverse-list{
display: flex;
flex-direction: column-reverse;
}
.tag-list{
  display: inline;
  // word-break: keep-all;
  // white-space: nowrap;
}
.pages{
  // background: red;
  display: inline;

}

.list-paragraph-item-reference{
  text-align: right;
  color: darken($lightBlue, 20%);
  font-size: $small;

}

.number-list-item{
  color: grey;
  font-size: $medium;

  font-weight: 300;
}
.list-paragraph-item-reference-paragraph{
  text-align: right;
  color: darken($lightBlue, 20%);
  font-size: $small;
  padding-bottom: $large;

  border-bottom:1px solid $lightBlue;
}

.add-note-view-notes-link{
  text-align: right;

  color: darken($lightBlue, 20%);
  font-size: $small;

}

.number-list-item:hover{
  color:$lightBlue;
  font-size: $medium;

  font-weight: 300;
}

.number-list-item-no-hover{
  color: grey;
  font-size: $medium;
  font-weight: 300;
}
.add-note-view-notes{
  padding-right: $small;
  padding-left: $small;

}
@media(min-width: $desktop-bp){

  .number-list-item{
    color: grey;
    font-size: $medium;
    font-weight: 300;
  }

  .number-list-item-no-hover{
    color: grey;
    font-size: $medium;
    font-weight: 300;
  }


  .number-list-item:hover{
    color: $lightBlue;
    font-size: $medium;

    font-weight: 300;
  }


  .pages{
    // background: red;
    display: inline;

  }
  .list-paragraph-item-reference-paragraph{
    text-align: right;
    color: darken($lightBlue, 20%);
    font-size: $small;
    padding-bottom: $large;

    border-bottom:1px solid $lightBlue;
  }
  .add-note-view-notes{
  padding-right: $small;
  padding-left: none;
  }
  .add-note-view-notes-link{

    text-align: right;
    display: block;
    margin-right:0;
    color: darken($lightBlue, 20%);
    font-size: $small;



  }


  .list-paragraph-item-reference{
    text-align: right;
    color: darken($lightBlue, 20%);
    font-size: $small;

  }
}
