

.login-image{

 background-image: url("/images/reading.jpeg");
 background-repeat: no-repeat;
 border: 1px solid $lightBlue;
 // width: 60rem;
 height: 30rem;
 max-width: 60rem;
 margin: 20rem auto;
 display: flex;
justify-content: space-between;
}

.login-link{
  color: white;
}


.login-image p{

  font-size: $large;
  color:white;
  background: black;
  opacity: 0.5;
  margin-top: $xlarge * 2;
  height: $large + $large * .20;
}

.login-image button{
 // display: block;
 background: black;
 opacity: 0.5;

 margin-left: auto;
 border: none;
 font-size: $large;
 font-weight: 300;
 color: white;
height: $large + $large * .20;
}

.login-image button:hover{

    background: black;
    opacity: 1;

    margin-left: auto;
    border: none;
    font-size: $large;
    font-weight: 300;
    color: $lightBlue;
    height: $large + $large * .20;

}

@media (min-width: $desktop-bp){

  .login-link{
    color: white;
  }

.login-image{

  background-image: url("/images/reading.jpeg");
  background-repeat: no-repeat;
  border: 1px solid $lightBlue;
  width: 60rem;
  height: 20rem;
  max-width: 60rem;
  margin: 20rem auto;
  display: flex;
 justify-content: space-between;
}

.login-image button{

  background: black;
  opacity: 0.5;

  margin-left: auto;
  border: none;
  font-size: $large;
  font-weight: 300;
  color: $lightBlue;
  height: $large + $large * .20;
}

.login-image button:hover{

    background: brown;
    opacity: 1;

    margin-left: auto;
    border: none;
    font-size: $large;
    font-weight: 300;
    color: white;
    height: $large + $large * .20;

}

.login-image p{
  margin-top: $xlarge * 2;
  font-size: $large;
  color:white;
  background: black;
  opacity: 0.5;
  height: $large + $large * .20;
}


}
