
.note-error{
  color: red;
  font-style:italic;
}

.most-recent-note{
  border: 1px solid $lightBlue;
  // max-width: 60rem;
  margin: 0 auto;
  padding: 0 $medium;
  font-size: $small;

}

.most-recent-note-title{
    font-size: $medium;
  background: darken($lightBlue, 20%);
  color: white;
  padding: $medium;

}

.most-recent-note-button{
  background: $lightBlue;
  color: white;
  // width: 20rem;
  border: .3rem solid darken($lightBlue, 20%);
  // float: right;
}

.most-recent-note-text{
  font-size: $small;
    padding-left: $medium;
}


.most-recent-note-textarea{
  border: 1px solid darken($lightBlue, 10%);
  // width: 100%;
  // height:20rem;
  margin: 0 auto;

}
