.note-item-note{
font-size: $medium;
}
.note-item-reference{
font-size: $small;
}

.note-list-container{
border: 1px solid $lightBlue;
padding-bottom: $medium;
    overflow: scroll;

}

.note-item-container{
    border-bottom: .3rem solid darken($lightBlue, 20%);
}
.note-item-title{

}

.note-item-note-edit{
text-align: right;
font-size: $small;
color: $lightBlue;
text-decoration: none;
}
