.note-item-note{
font-size: $medium;
}
.note-item-reference{
font-size: $small;
}

.note-item-container{
border: 1px solid $lightBlue;

}

.note-item-title{

}

.note-item-note-edit{
text-align: right;
font-size: $small;
color: $lightBlue;
text-decoration: none;
}
