.note-form{
  display: flex;
  flex-direction: column;
  font-size: $large;
  font-weight: 300;
}

.note-form-input{
  font-size: $large;
  border: none;
  border-bottom: .3rem solid darken($lightBlue, 10%);
  width: 100%;
  text-align:right;
 margin-bottom: $large;
}

.note-form-textarea{
  border: 1px solid darken($lightBlue, 10%);
  width: 100%;
  margin: 0 auto;
 margin-bottom: $large;
}



@media(min-width: $desktop-bp){
  .note-form{
    display: flex;
    flex-direction: column;
    font-size: $large;
  }

  .note-form-input{
    font-size: $large;
    border: none;
    border-bottom: .3rem solid darken($lightBlue, 10%);
    width: 100%;
    text-align:right;
      margin-bottom: $large;
  }

  .note-form-textarea{
    border: 1px solid darken($lightBlue, 10%);
    width: 100%;
    margin: 0 auto;
     margin-bottom: $large;
  }
}
