.view-notes-title{
  font-size: $large;
  color: red;
}

.view-notes-container-container{
  display: flex;
    flex-direction: column;
}

.view-notes-container{
  width: 100%;
  padding: $small;
}


.view-notes-container-add-note{
    width: 100%;
    padding: $small;
}
@media(min-width: $desktop-bp){
  .view-notes-title{
    font-size: $large;
    color: red;
  }

  .view-notes-container-container{
    display: flex;
    flex-direction: row;

  }

  .view-notes-container{
    width: 50%;
    padding: $small;
  }


  .view-notes-container-add-note{
      width: 50%;
      padding: $small;
      background: lighten($lightBlue, 20%);
      border-top: 1px solid white;
      // color: white;
      margin-top: $medium;
  }
}
