

// new

.toggle-show-book{
  background: darken($lightBlue, 20%);
  color: white;
  display: block;
  // margin-left: auto;
  margin: $small auto;
  font-weight: 300;
  font-size: $medium;

}
.profile-container{
  display: flex;
 justify-content: space-between;
 border: 1px solid black;
 padding: $small;
}

.profile-image{
  height: 20vh;
  width: auto;
}
// from bookForm.scss
.container-book-form{
  padding:$small;
}

// from buttons.scss

.edit{
  display: block;
  color: darken($lightBlue, 20%);
  margin-top: $small;
}



.tag{
  display:inline-block;
  margin-top: $small/2;
  margin-right: $small/2;
  color: darken($lightBlue, 20%);
  font-size:$small;
  font-weight: 300;
}

.add-tag{
  display:inline-block;
  margin-top: $small/2;
  margin-right: $small/2;
  // background: darken($lightBlue, 20%);
  background: $lightBlue;
  border: 1px solid $lightBlue;
  color:white;
  border-radius: 5px;

  font-size:$small;
  font-weight: 300;
}


// from container.scss

.book-container{
   padding: $small;
   width: 80%;
   margin: 0 auto;
}

.container{
 color: grey;
 max-width: 60rem;
 margin: 0 auto;
 padding: $medium;
}

.container form{
  text-align:right;
}

.container-form{
 max-width: 60rem;
}

.container-img{
  max-width: 30rem;
  width: 30rem;
  display: block;
  margin: 0 auto;
}

.container-view-slug{
  text-align:right;
}

.explainer-subcontainer{
  margin: 0 auto;
}

.number-list-item-container{
  padding-bottom: $medium;
}

.subcontainer-title{
  // color:red;
}

//from form.scss

label{
  padding-right: $small;
}

.form-textArea{
   max-width: 40rem;
   width: 30rem;
   height: 40vh;
   border: 1px solid $lightBlue;
   padding-left: $small;
   display: block;
   margin: 0 auto;

}

.form-button{
  background:linear-gradient(to bottom right, $lightBlue, black);
  color: white;
  font-size: $small;
  padding: $small;
  max-width: 40rem;
  width: 30rem;
  display: block;
  margin: 0 auto;
  margin-top: $small;
}

.form-button-check{
  background: white;
  color: $lightBlue;
  font-size: $medium;
  padding: $small/2;
  border: none;
  // border: 1px solid $lightBlue;
  // border-bottom: 1px solid $lightBlue;
}

.form-error{
   color:red;
}

.form-button-book{
  background:linear-gradient(to bottom, $lightBlue, black);
  border-radius: 5px;
  color: white;
  font-size: $small;
  padding: $small;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: $large;
}

.form-button-check:hover{
  background: white;
  color:darken($lightBlue, 20%);
  font-size: $medium;
  border: none;
}

// from header.scss

// .header{
//   background:linear-gradient(to bottom right, $lightBlue, black);
//   color:white;
//   max-width: 60rem;
//   margin: 0 auto;
//   padding-right: $small;
//   text-align: right;
// }
//
// .header h1{
//   color: white;
// }
//
// .header p {
//   color: white;
// }
// .header-nav{
//   color: white;
// }
//
// .header-nav:visited{
//   color: white;
//   font-style: italic;
// }
//
// .header button {
//    background: transparent;
//    border: none;
//    color: white;
// }

// from input.scss
.tag-input{
  width: 20rem;
}
.chapter-page-input{

}
.paragraph-input{
  width: 3rem;
  margin-right: $small;
}
.book-input{
  display: flex;
  flex-direction: column;
  padding: $small;
  margin-top: $small;

  margin: 0 auto;
  width: 80%;
  max-width: 60rem;

}





// from list.scss


.book-item-edit{
  display:none;
}
.summary-link{
  display: block;
  color: darken($lightBlue, 40%);
  margin-top: $small;
  padding-left: $small;
}

.book-list-item-subcontainer{
   display: flex;
   justify-content: space-between;
}
.reverse-list{
  display: flex;
  flex-direction: column-reverse;
}

.normal-list{
  display: flex;
  flex-direction: column;
}

.tag-list{
  display: inline;
}

.list-paragraph-item-reference{
  text-align: right;
  color: darken($lightBlue, 20%);
  font-size: $small;
}



.reference{
  text-align: right;
  color: darken($lightBlue, 20%);
  font-size: $small;
  padding-bottom: $large;
  border-bottom:1px solid $lightBlue;
}

.add-note-view-notes-link{
  text-align: right;
  color: darken($lightBlue, 20%);
  font-size: $small;
}



.note{
  color: grey;
  font-size: $medium;
  font-weight: 300;
}

.view{
  padding-right: $small;
  padding-left: $small;
}



//new

.search{
  display: none;
}

@media(min-width:$desktop-bp){
// new

.search{
  display: inline;
}

// from bookForm.scss

.container-book-form{
  display: block;
  margin-left: 0;
}

// from buttons.scss

.edit{
  display: block;
  color: darken($lightBlue, 20%);
  margin-top: $small;
}

.tag{
  border-radius: 2px;
  font-size:$small;
   font-weight: 300;
   display:inline-block;
   margin-top: $small/2;
   margin-right: $small/2;
   color: darken($lightBlue, 20%);
}

.add-tag{
  display:inline-block;
  margin-top: $small/2;
  margin-right: $small/2;
  // background: darken($lightBlue, 20%);
  background: $lightBlue;
  border: 1px solid $lightBlue;
  color:white;
  border-radius: 5px;

  font-size:$small;
  font-weight: 300;
}
// from container.scss

  .explainer-subcontainer{
    margin: 0 auto;
  }

  .container-img{
    display: block;
    margin: 0 auto;
    max-width: 60rem;
    width: 60rem;
  }


  .number-list-item-container{
    padding-bottom: $medium;
  }
  .book-container{
    // background: blue;
    padding: $small;
    border: 1px solid $lightBlue;
        margin-right: 0;

  }
    .container{
       max-width: 60rem;
       color: grey;
       margin: 0 auto;
       padding: $medium;
          // border: 1px solid red;
    }

    .container-form{
       text-align:right;
       max-width: 60rem;
       border: 1px solid grey;
       padding: $large;
    }

    .container p{
      font-size: $medium;
    }

   .subcontainer-title{
     // color:red;
   }
    .container-view-slug{
      text-align:right;
    }

    // from container.scss
    .form-button-check{
      background: white;
      color: $lightBlue;
      font-size: $medium;
      border: none;
        // border: 1px solid $lightBlue;
      // padding: $small/2;
        // border-bottom: 1px solid $lightBlue;
    }

    .form-button-check:hover{
      background: white;
      color:darken($lightBlue, 10%);
      font-size: $medium;
      border: none;
      // padding: $small/2;
        // border-bottom:1px solid $lightBlue;
    }
  .form-textArea{
    display: block;
    margin-right: 0;
    max-width: 40rem;
    width: 40rem;
    height: 50vh;
    border: 1px solid $lightBlue;
    padding-left: $small;

  }

  .form-button{
    background:linear-gradient(to bottom, $lightBlue, black);
    border-radius: 5px;
    color: white;
    font-size: $small;
    padding: $small;
    width: 10rem;
    margin-right: 0;
    margin-top: $small;
  }

  .form-button-book{
    background:linear-gradient(to bottom, $lightBlue, black);
    border-radius: 5px;
    color: white;
    font-size: $small;
    padding: $small;
    width: 10rem;
    margin-right: 0;
    margin-top: $small;
  }

  .form-error{
     color:red;
  }

  // from header.scss
  // .header{
  //   background:linear-gradient(to bottom right, $lightBlue, black);
  //   color:white;
  //   // background: black;
  //   // opacity: 0.5;
  //   color: white;
  //   padding-right: $small;
  //   text-align: right;
  // }
  //
  // .header p {
  //   color: white;
  // }
  // .header-nav{
  //   color: white;
  // }
  //
  // .header button {
  //  background: transparent;
  //  border: none;
  //  color: white;
  // }

// from input.scss

  .tag-input{
    width: 20rem;
  }
  .chapter-page-input{
    width: 3rem;

  }
  .paragraph-input{
    width: 3rem;
    margin-right: $small;
  }
  .book-input{
    display: flex;
    flex-direction: column;
    padding: $small;
    margin-top: $small;
    margin-right: 0;
    width: 80%;
  }

  // from list.scss

    .book-item-edit{
      display:inline;
    }

    .summary-link{
      display: block;
      color: darken($lightBlue, 40%);
      margin-top: $small;
      padding-left: $small;
    }

    .reference{
      text-align: right;
      color: darken($lightBlue, 20%);
      font-size: $small;
      padding-bottom: $large;
      border-bottom:1px solid $lightBlue;
    }
    .view{
      padding-right: $small;
      padding-left: none;
    }

    .add-note-view-notes-link{
      text-align: right;
      display: block;
      margin-right:0;
      color: darken($lightBlue, 20%);
      font-size: $small;

    }

    .list-paragraph-item-reference{
      text-align: right;
      color: darken($lightBlue, 20%);
      font-size: $small;
    }

    // from login.scss

      .login-link{
        color: white;
      }

    .login-image{

      background-image: url("/images/reading.jpeg");
      background-repeat: no-repeat;
      border: 1px solid $lightBlue;
      width: 60rem;
      height: 20rem;
      max-width: 60rem;
      margin: 20rem auto;
      display: flex;
     justify-content: space-between;
    }

    .login-image button{

      background: black;
      opacity: 0.5;

      margin-left: auto;
      border: none;
      font-size: $large;
      font-weight: 300;
      color: $lightBlue;
      height: $large + $large * .20;
    }

    .login-image button:hover{

        background: brown;
        opacity: 1;

        margin-left: auto;
        border: none;
        font-size: $large;
        font-weight: 300;
        color: white;
        height: $large + $large * .20;

    }

    .login-image p{
      margin-top: $xlarge * 2;
      font-size: $large;
      color:white;
      background: black;
      opacity: 0.5;
      height: $large + $large * .20;
    }


}
