html{
  font-size: 62.5%;
}

body{

  font-family: Helvetica, Arial, sans-serif;
  font-size: $medium;
  font-weight: 300;

}

a{
  text-decoration: none;
  cursor: pointer;
}

button{
  cursor: pointer;
}

h1{
    font-weight: 300;
    margin-left: 0 auto;
}

input{
  border: 1px solid $lightBlue;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;

  margin: 0;
}


li{
   list-style:square;
}
