html{
  font-size: 62.5%;
}

body{

  font-family: Helvetica, Arial, sans-serif;
    font-size: $medium;
    // background: #f2f2f2
    // color: black;

}

button{
  cursor: pointer;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
