
.bookform{
  border: 1px dotted white;
}

.bookform-label{
  color: white !important;
}

.dash-btn{
  background: rgb(102, 102, 153) !important;
  border: 0 !important;
}
.dashboard-container{
  border-top: 10px solid rgb(102, 102, 153);

}
.display-4, .lead{
  color: white;
}

.JumboHeaderImg{
  display: block;
  background-image: url("/images/bean538.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 538px;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.jumbo-inner-div{
  background: rgba(102, 102, 153, 0.7)

}

.jumbo-inner-div .lead{
  font-size: 1.6rem;

}

.link{
  font-size: 1.2rem;
  color: grey;
}

.login-button{
  height: 15vh;
  // background-color: rgba(102, 102, 153, 0.5) !important;
  // background-color: white !important;
    background-color: transparent !important;
  font-size: 5.0rem !important;
  color: white;
  // color:  rgb(102, 102, 153) !important;
}

.login-container{
  background-color: rgba(102, 102, 153, 0.70) !important;
}
.nav-item{
  font-size: 1.4rem;

}

.nav-link{
  color: grey;
}

.nav-item a{
  color: grey !important;
}

// .nav-link:visited{
//
// }

.note{
  border-bottom: 1px solid grey;
}
.note-entry{
  height: 40vh;
  color: blue;

}


p{
  font-size: 1.4rem;
}
.private-button{
  background: white !important;
  color: rgb(102, 102, 153) !important;
}

.profile-image{
  width:20vh;
}

//
// .tags{
//   background-color: #d3d9e2;
//   // color: white;
// }
.tags-button{
color: white !important;
background-color: rgb(102, 102, 153) !important;
}

.tags-list{
  display: flex;
  flex-direction: row;
}

.reverse-list{
display: flex;
flex-direction: column-reverse;

}

.normal-list{
  display: flex;
  flex-direction: column;
}


textarea{
  color:blue;
    height: 40vh;
}
