
.dash-btn{
  background: rgb(102, 102, 153) !important;
  border: 0 !important;
}
.display-4, .lead{
  color: white;
}

.JumboHeaderImg{
  background-image: url("/images/bean538.jpg");
  height: 538px;
}

.jumbo-inner-div{
  background: rgba(102, 102, 153, 0.7)
  // opacity: 0.5;
}

.jumbo-inner-div .lead{
  font-size: 1.6rem;
  // color: white;
}

.login-button{
  height: 15vh;
  background-color: rgba(66, 185, 244,0.5) !important;
  font-size: 3.0rem !important;
  color: white;
}
.link{
  font-size: 1.2rem;
  color: grey;
}

.nav-item{
  font-size: 1.4rem;

}

.nav-link{
  color: grey;
}

.nav-item a{
  color: grey !important;
}

// .nav-link:visited{
//
// }
.note{
  border-bottom: 1px solid grey;
}
.note-entry{
  height: 40vh;
  color: blue;

}


p{
  font-size: 1.4rem;
}
.profile-image{
  width:20vh;
}


.tags{
  background-color: #d3d9e2;
  // color: white;
}

.tags-list{
  display: flex;
  flex-direction: row;
}

.reverse-list{
display: flex;
flex-direction: column-reverse;

}

.normal-list{
  display: flex;
  flex-direction: column;
}


textarea{
  color:blue;
    height: 40vh;
}
