
p{
  font-size: 1.4rem;
}

.link{
  font-size: 1.2rem;
  color: grey;
}
.jumbo-inner-div{
  background: rgba(102, 102, 153, 0.5)
  // opacity: 0.5;
}

.jumbo-inner-div .lead{
  font-size: 1.6rem;
}
.note{
  border-bottom: 1px solid grey;
}

.JumboHeaderImg{
  background-image: url("/images/bean538.jpg");
  height: 538px;

}

.tags{
  background-color: #d3d9e2;
  // color: white;
}

.tags-list{
  display: flex;
  flex-direction: row;
}


textarea{
  color:blue;
}



.profile-image{
  width:20vh;
}

.display-4, .lead{
  color: white;
}

textarea{
  height: 40vh;
}

.note-entry{
  height: 40vh;
  color: blue;

}

.reverse-list{
  // background: red !important;
display: flex;
flex-direction: column-reverse;

}

.normal-list{
    // background: blue !important;
  display: flex;
  flex-direction: column;
}
